<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qs.insurance.codegen.dao.SysGeneratorMapper">
	<select id="queryList" resultType="com.qs.insurance.codegen.model.SysGenerator">
		select * from information_schema.tables
			where table_schema = #{schema}
		<if test="tableName != null and tableName.trim() != ''">
			and table_name like concat('%', #{tableName}, '%')
		</if>
		order by create_time desc limit #{pageNo},#{pageSize}
	</select>

	<select id="queryListCount" resultType="java.lang.Long">
		select count(*) from information_schema.tables
		where table_schema = #{schema}
		<if test="tableName != null and tableName.trim() != ''">
			and table_name like concat('%', #{tableName}, '%')
		</if>
	</select>
	<select id="queryTable" resultType="java.util.Map">
				select table_name tableName, engine, table_comment tableComment, create_time createTime from information_schema.tables
			where table_schema =#{query.storehouseName}  and table_name = #{query.tableName}
	</select>
	<select id="queryColumns" resultType="java.util.Map">
		select column_name columnName, data_type dataType, column_comment columnComment, column_key columnKey, extra from information_schema.columns
 			where table_name = #{query.tableName} and table_schema = #{query.storehouseName} order by ordinal_position
	</select>
</mapper>
