<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.insurance.upms.dao.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.qs.insurance.upms.entity.SysMenu">
    <!--@mbg.generated-->
    <!--@Table system.sys_menu-->
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    menu_id, parent_id, `name`, url, perms, `type`, icon, order_num
  </sql>

  <select id="queryListParentId" resultType="com.qs.insurance.upms.entity.SysMenu">
		select * from sys_menu where parent_id = #{parentId} order by order_num asc
	</select>

  <select id="queryNotButtonList" resultType="com.qs.insurance.upms.entity.SysMenu">
		select * from sys_menu where type != 2 order by order_num asc
	</select>
</mapper>