package ${package}.controller;

import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import R;
import SysLog;
import ${package}.model.${className};
import ${package}.service.${className}Service;
import lombok.AllArgsConstructor;
import io.swagger.annotations.Api;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.*;
import io.swagger.annotations.ApiOperation;


/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Slf4j
@RestController
@AllArgsConstructor
@RequestMapping("/${pathName}")
@Api(value = "${comments}", tags = "${comments}")
public class ${className}Controller {

  private final  ${className}Service ${classname}Service;

  /**
   * 分页查询
   * @param page 分页对象
   * @param ${classname} ${comments}
   * @return
   */
  @ApiOperation("分页查询${comments}")
  @GetMapping("/page")
  public R get${className}Page(Page page, ${className} ${classname}) {
    return  new R<>(${classname}Service.page(page,Wrappers.query(${classname})));
  }


  /**
   * 通过id查询${comments}
   * @param ${pk.lowerAttrName} id
   * @return R
   */
  @ApiOperation("通过id查询${comments}")
  @GetMapping("/{${pk.lowerAttrName}}")
  public R getById(@PathVariable("${pk.lowerAttrName}") ${pk.attrType} ${pk.lowerAttrName}){
    return new R<>(${classname}Service.getById(${pk.lowerAttrName}));
  }

  /**
   * 新增${comments}
   * @param ${classname} ${comments}
   * @return R
   */
  @ApiOperation("新增${comments}")
  @SysLog("新增${comments}")
  @PostMapping
  public R save(@RequestBody ${className} ${classname}){
    return new R<>(${classname}Service.save(${classname}));
  }

  /**
   * 修改${comments}
   * @param ${classname} ${comments}
   * @return R
   */
  @ApiOperation("修改${comments}")
  @SysLog("修改${comments}")
  @PutMapping
  public R updateById(@RequestBody ${className} ${classname}){
    return new R<>(${classname}Service.updateById(${classname}));
  }

  /**
   * 通过id删除${comments}
   * @param ${pk.lowerAttrName} id
   * @return R
   */
  @ApiOperation("删除${comments}")
  @SysLog("删除${comments}")
  @DeleteMapping("/{${pk.lowerAttrName}}")
  public R removeById(@PathVariable ${pk.attrType} ${pk.lowerAttrName}){
    return new R<>(${classname}Service.removeById(${pk.lowerAttrName}));
  }

}
